body {
  /* background: #13274f; */
  background-image: linear-gradient(#13274f,#002244);
}
.navbar .navbar-brand {
  /* border: 2px solid white; */
  color: #f27f0c;
}
.navbar{
  background-image: linear-gradient(#13274f,#002244);
}

@media screen and (min-width:768px) {
  .navbar .navbar-nav{
    flex-direction: row-reverse;
  }
}
.navbar .navbar-nav{
  width: 95vw;
  display: flex;
  /* border: 2px solid white; */
  /* margin-bottom: 300px; */
}
.navItem:hover {
  cursor: pointer;
  color: white;
}
.wargames{
  margin-top: 5rem;
  display: inline-block;
}
.btn-1{
    border:2px solid #f27f0c;
    background-color: transparent;
}
.btn-1:hover{
    animation: borderMotion 2s linear infinite ;
}
.btn-2:hover{
  background-position: left;
}

@keyframes borderMotion{
    0%{
      transition: ease-in-out;
      border-left: 2px solid #36e2e6;
    }
    25%{
      transition: ease-in-out;
      border-top: 2px solid #36e2e6;
    }
    50%{
      transition:ease-in-out;
      border-right: 2px solid #36e2e6;
    }
    75%{
      transition:ease-in-out;
      border-bottom: 2px solid #36e2e6;
    }
  }
.btn-2{
    background-image: linear-gradient(to bottom right, orange, rgb(247, 193, 94) );
}
.card-body{
  background-image: linear-gradient(to bottom,	#505050,#606060);
}
.games{
  width: 90vw;
  max-width: 1170px;
  margin: 3rem auto;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width:768px) {
  .games{
      grid-template-columns: repeat(3,1fr);
  }
}



